.width-90 {
    max-width: 90%;
  }

.width {
    max-width: min(38rem, 90%);
  }

.widthS {
    max-width: min(28rem, 90%);
  }

.widthL {
    max-width: min(50rem, 90%);
  }

.height100 {
  height: 100vh; 
}

.height90 {
  height: 90vh; 
}

.height80 {
  height: 80vh; 
}

.height70 {
  height: 70vh; 
}

.height60 {
  height: 60vh; 
}
.height50 {
  height: 50vh; 
}
.height40 {
  height: 40vh; 
}
.height30 {
  height: 30vh; 
}
.height20 {
  height: 20vh; 
}

.height10 {
  height: 10vh; 
}

.z1 {
  z-index: 1
}

.z2 {
  z-index: 2
}
.z3 {
  z-index: 3
}
.z50 {
  z-index: 50
}
.z99 {
  z-index: 99
}

.center {
    margin: 0 auto;
    display: grid;
    place-items: center;      
    text-align: center; 
    justify-items:center;
}

